.app {
  $block-name: &;

  /* Header */

  &__header {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;

    &-logo {
      margin-right: 10px;
    }
  }

  /* Content */

  &__content {
    padding: 90px 0 100px;
  }

  /* Container */

  &__container {
    max-width: 800px;
    margin: 0 auto;

    &--d-flex {
      display: flex;
    }
  }

  /* Bottom */

  &__bottom {
    margin-top: 20px;
    text-align: center;
  }
}