@import-normalize;

@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Regular.woff2') format('woff2'),
      url('./fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Bold.woff2') format('woff2'),
      url('./fonts/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%; // off scale ios
}

*, 
::after, 
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background-color: #f9fafa;
}

a {
  color: #252525;
  text-decoration: none;

  &:visited {
    color: #252525;
  }

  &:hover {
    color: #1827ce;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
